
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

#texto1 #texto2 {
  font-family: 'Anton', sans-serif;
  /* resto de estilos */
}
    body {
        font-family: "Roboto", Arial, sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #3b4350;
        background-color: #ffffff;
        height: 100%;
    }

    #texto1 {
        color: #062e61;
        font-family: 'Anton', sans-serif;
        letter-spacing: 2px;
        text-shadow: 1px 1px 2px #10ab84;
        font-size: 45px;
    }

    #texto2 {
        color: #062e61;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px #10ab84;
    font-size: 25px;
        margin-bottom: 20px
    }

    .nav_bar {
        text-align: center;
        padding: 0px;
        background-color: #e9e9e9;
    }

    .panel-body {
        padding: 0px;
    }

    .panel-body {
        padding: 15px;
    }

    .placa {
        width: 100%;
        border: 1px solid #ccc;
        padding: 20px;
        margin: 20px auto;
        background-color: #fff;
        box-shadow: 2px 2px 4px #888888;
    }

    .placa h1 {
        text-align: center;
        color: #003366;
        font-size: 2.5em;
        margin-bottom: 0.5em;
        text-shadow: 2px 2px 4px #888888;
    }

    .placa h2 {
        text-align: center;
        color: #006699;
        font-size: 1.5em;
        margin-top: 0.5em;
    }

    .placa .dato {
        margin-bottom: 10px;
    }

    .placa .dato span {
        font-weight: bold;
        color: #003366;
    }

    .panel-heading {
        font-size: 18px;
        padding: 7px 15px;
        border-top-right-radius: 0 !important;
        border-top-left-radius: 0 !important;
        border-color: #e5e5e5 !important;
    }

    #trazabilidad {
        font-size: 23px;
        font-weight: bold;
        color: #FFF;
        text-align: center;
        border-top-left-radius: 50px !important;
        border-top-right-radius: 50px !important;
        background-color: #062e61 !important;
    }

    .alert {
        margin-bottom: 0 !important;
        padding: 6px 6px 0px !important;
        border-radius: 0 !important;
    }

    .col-lg-8 {
        padding-bottom: 140px;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    @media (min-width: 1200px) {
        .col-lg-8 {
            float: left;
        }
    }

    @media (min-width: 1200px) {
        .col-lg-8 {
            width: 66.66666667%;
        }
    }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        line-height: 1.42857143;

        /* Aplica el color blanco a toda la tabla */
    }

    .table tbody tr td {
        border-top: 1px solid #efefef;
    }


    table {
        border-spacing: 0;
        border-collapse: collapse
    }

    .td {
        color: #FFF !important;
        border-color: inherit;
        border-style: none;
        border-width: 0;
        /* Asegura que las celdas y encabezados también sean blancos */
    }


    .tdd {
        color: #3b4350 !important;
        border-color: inherit;
        border-style: none;
        border-width: 0;
        /* Asegura que las celdas y encabezados también sean blancos */
    }


    td {
        padding: 3px 10px 3px !important;

    }

    @media (min-width: 992px) {
        .container {
            width: 970px;
        }
    }

    @media (min-width: 768px) {
        .container {
            width: 750px;
        }

        .container {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }


        .panel-default {
            background-color: #e9e9e9;
            text-align: center;
        }

        .panel {
            -webkit-box-shadow: none;
            box-shadow: none;
            -webkit-border-radius: 0 !important;
            -moz-border-radius: 0 !important;
            border-radius: 0 !important;
        }

        .panel {
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            -webkit-border-radius: 0 !important;
            -moz-border-radius: 0 !important;
            border-radius: 0 !important;
        }

        .panel-default {
            border-color: #ddd;
        }

        .panel {
            margin-bottom: 20px;
            background-color: #fff;
            border: 1px solid transparent;
            border-radius: 4px;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        }

        .row {
            margin-right: -15px;
            margin-left: -15px;
        }

        @media (min-width: 768px) {
            .col-sm-12 {
                width: 100%;
            }
        }


        @media (min-width: 768px) {
            .col-sm-12 {
                float: left;
            }
        }



        .col-sm-12 {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;

        }

        @media (min-width: 576px) {
            .col-sm-12 {
                flex: 0 0 auto;
                width: 100%;
            }
        }


        @media only screen and (max-width: 900px) {
            .contenedor-imagenes {
                display: flex;
                margin-bottom: 200px;
                position: relative;
            }
        }

        .contenedor-imagenes {
            display: flex;
            margin-bottom: 300px;
            position: relative;
            justify-content: center;
        }

        @media only screen and (max-width: 900px) {
            .contenedor-imagenes #holograma {
                width: 100%;
                height: 100%;
            }
        }

        .contenedor-imagenes #holograma {
            width: 100%;
            height: 100%;
        }

        @media only screen and (max-width: 900px) {
            .contenedor-imagenes {
                display: flex;
                margin-bottom: 200px;
                position: relative;
            }
        }

        img {
            vertical-align: middle;
            border: 0;
        }


        .imagen-holograma {
            width: 50%;
            /* ajusta el ancho de la imagen */
            height: auto;
            /* ajusta el alto de la imagen automáticamente */
            margin: 20px auto;
            /* agrega un margen para centrar la imagen */
        }


    }

    .imagen-holograma {
        max-width: 100%;
        /* ajusta el ancho máximo de la imagen al ancho de la tabla */
        height: auto;
        /* ajusta el alto de la imagen automáticamente */
        margin: 20px auto;
        /* agrega un margen para centrar la imagen */
    }

    @media (max-width: 768px) {
        .imagen-holograma {
            width: 100%;
            /* ajusta el ancho de la imagen al ancho de la pantalla */
            height: auto;
            /* ajusta el alto de la imagen automáticamente */
        }
    }

    .centrado {
        color: red;
        position: absolute;
        top: 80%;
        left: 23%;
    }


    @media only screen and (max-width: 900px) {
        .centrado {
            color: red;
            position: absolute;
            top: 80%;
            left: 19%;
        }
    }


    @media (max-width: 768px) {
        .centrado {
            color: red;
            position: relative;
            top: -30%;
            left: 19%;
        }
    }


    .panel-footer {
        background: url(https://oc.erpcidam.com/views/organismo_certificador_cidam.png)no-repeat 50%;
        height: 160px;
        margin-top: 100px;
        position: fixed;
        left: 0;
        bottom: 40;
        width: 100%;
    }

    .panel-footer {
        background: url(https://oc.erpcidam.com/views/organismo_certificador_cidam.png)no-repeat 50%;
        height: 160px;
        margin-top: 100px;
        position: fixed;
        left: 0;
        bottom: 40;
        width: 100%;
        padding: 10px 15px;
        background-color: #e9e9e9;
        border-top: 1px solid #ddd;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    @media only screen and (max-width: 900px) {
        .panel-footer {
            background: url(https://oc.erpcidam.com/views/organismo_certificador_cidam.png)no-repeat 50%;
            height: 135px;
            background-size: 100% 100%;
            background-color: #e9e9e9;
        }
    }


    #footer {
        margin-top: 20px;
        font-size: 15px;
        text-align: center;
        height: 60px;
        background-color: #2E2E2E;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    #footer {
        padding: 7px 20px;
        color: #FFFFFF;

        z-index: 1000;
    }
